body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #333;
}


h2 {
    color: #555;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


form {
    margin: 0;
    padding: 0;
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="tel"]
{
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


input[type="submit"] {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 12px 24px; 
    font-size: 16px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
    margin-left: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}
input[type="submit"]:focus{
    outline: none; 
}
input[type="submit"]:active{
    background-color: #004085; 
    transform: scale(0.98); 
}

form + form {
    margin-top: 20px;
}
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    appearance: none; 
    background-color: white; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="gray" d="M10 13l-5-5h10z"/></svg>'); 
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 12px; 
    cursor: pointer; 
}

select:focus {
    border-color: #007BFF;
    outline: none; 
}
